<div>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Shnux</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#expert">Expertise</a>
                    </li>
                    <li>
                        <a href="#services">Work Experience</a>
                    </li>
                    <li>
                        <a href="#interview">Interview Cracker </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Shirish Patil</h1>
                        <h3>Coder, Algorist, Wave Boarder, Cyclist, Swimmer</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a target="_blank" href="https://github.com/wizardwand" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a target="_blank" href="http://www.linkedin.com/in/shirishpatil362" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a name="expert"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="">
                    <div class="clearfix"></div>
                    <h2>Expertise</h2>
                    <h3>Proficient:</h3>
                    <ul>
                        <li>Java</li>
                        <li>Java script</li>
                        <li>Data Structure</li>
                        <li>Algorithm</li>
                    </ul>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <hr class="">
                    <div class="clearfix"></div>
                    <h3>Hands On:</h3>
                    <ul>
                        <li>Spring</li>
                        <li>Webservice [Soap & Restful]</li>
                        <li>Maven</li>
                        <li>JUNIT</li>
                        <li>JMS</li>
                        <li>Angular 2</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>
            </div>
        </div>
        <a name="services"></a>
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="">
                        <!-- <div class="clearfix"></div> -->
                        <h3 class="section-heading">Work Experience:</h3>
                        <h3 class="section-heading">Product Developer<br></h3>
                        <h4>RBWM Channels HSBC Glt</h4>
                        <p>Worked on the creation of the product for Retail Banking and Wealth Banking. The product is being
                            used in call center and all the branches all over the world.</p>
                        <h4>Technology Used</h4>
                        <ul>
                            <li>
                                Java
                            </li>
                            <li>
                                Dojo
                            </li>
                            <li>
                                Spring
                            </li>
                            <li>
                                Hibernate
                            </li>
                            <li>
                                Maven
                            </li>
                        </ul>
                        <p class="">A special thanks to <a target="_blank" href="http://www.hsbc.com/careers/where-we-hire/india">HSBC Glt</a>                            for giving a start to my career.</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <!-- <img class="img-responsive" src="https://logo-png.com/logo/hsbc-logo.png" alt=""> -->
                        <hr class="">
                        <!-- <div class="clearfix"></div> -->
                        <h3 class="section-heading">IBM Case Manager Developer<br></h3>
                        <h4>Public and welfare</h4>
                        <p>Worked on the creation of the product for Public and welfare sector.This product is and ECM solution
                            for automating all the services.
                        </p>
                        <h4>Technology Used</h4>
                        <ul>
                            <li>Java</li>
                            <li>Dojo</li>
                            <li>IBM Case Manger</li>
                            <li>IBM Filenet</li>
                            <li>ICN</li>
                        </ul>
                        <p class="">A special thanks to <a target="_blank" href="https://www.tieto.com/careers">Tieto</a>!</p>
                    </div>
                </div>
            </div>
        </div>
        <a name="interview"></a>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>For Interview Prepration</h3>
                    <table class="table">
                        <tr>
                            <td>1</td>
                            <td>Data structure</td>
                            <td><a target="_blank" href="https://www.youtube.com/watch?v=92S4zgXN17o&list=PL2_aWCzGMAwI3W_JlcBbtYTwiQSsOTa6P"><i class="fa fa-fw"></i> <span class="network-name">mycodeschool</span></a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Algorithm </td>
                            <td><a target="_blank" href="http://www3.cs.stonybrook.edu/~algorith/video-lectures/"><i class="fa fa-fw"></i> <span class="network-name">Skiena's Algorithms</span></a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Comuter Networks</td>
                            <td><a target="_blank" href="https://www.youtube.com/watch?v=UXMIxCYZu8o&list=PLEbnTDJUr_IegfoqO4iPnPYQui46QqT0j"><i class="fa fa-fw"></i> <span class="network-name">Ravindrababu Ravula</span></a></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Java</td>
                            <td><a target="_blank" href="https://www.youtube.com/watch?v=zzjJ7Hty88M&list=PLcLMSci1ZoPs6jV0O3LBJwChjRon3lE1F"><i class="fa fa-fw"></i> <span class="network-name">Bloundebytes</span></a></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Design Pattern</td>
                            <td><a target="_blank" href="https://www.youtube.com/watch?v=vNHpsC5ng_E&list=PLF206E906175C7E07"><i class="fa fa-fw"></i> <span class="network-name">Derek Banas</span></a></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Solve problems</td>
                            <td><a target="_blank" href=""><i class="fa fa-fw"></i> <span class="network-name">Cracking the coding Interview - Gayle Laakmann McDowell</span></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-inline">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="#about">About</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="#services">Services</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="#contact">Contact shirishpatil201@gmail.com</a>
                            </li>
                        </ul>
                        <p class="copyright text-muted small">Copyright &copy; Shirish Patil 2017. Open Source </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>